{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="small-container about-us">
    <h1>Shopinza</h1>
    <hr>
    
    <p>Ürünlerimizi sevdiklerimizden ve doğadan ilham alarak tasarlıyoruz. Hiçbir şey doğaya dokunduğumuzda aldığımız hazzı veremez. 
        Eşsiz tasarımlarla ahşaba ve toprağa dokunmanın deneyimini yaşayın. </p>
    <br>
    <p>Tüm ürünlerimiz en kaliteli malzemeler kullanılarak, doğanın bize verdiği en güzel alet olan insan eliyle üretilmiştir. 
        Hedefimiz, doğanın tüm benzersizliğini temsil etmektir. Her ürün özenle paketlenir ve teslim edilir. </p>
</div>

{% endblock content %}