{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row-account">
    
    <div class="col-md-8" >
        
        <h2 class = "title">Hesap Ayarları</h2>
        <div class="card card-body" >

            <form class="form-change" method="POST" >
                {% csrf_token %}
                {{form.as_p}}

                <button class="btn btn-primary" type="submit">Düzenle</button>
            </form>

        </div>
    </div>
</div>
<br>
<div class="row-account">
    <div class="col-md-8">
        <h2 class = "title">Siparişlerim</h2>
        {% for order in orders %}
        <div class="card card-body card-body-1">
            <div class="order-information">
                <div class="order-info" >
                    <p><strong>Sipariş No:</strong> {{order.id}}</p>
                </div>
                <div class="order-info-2" >
                    <p><strong>Tarih:</strong> {{order.date_ordered_date}}</p>
                    <p><strong>Toplam:</strong> {{order.total_price}}</p>
                </div>
            </div>
        </div>
        <div class="card card-body">
            
            <table class="table table-sm">
                <tr>
                    <th>Ürün</th>
                    <th></th>
                    <th>Adet</th>
                    <th>Durumu</th>
                    <th></th>
                </tr>

                {% for product in order.orderitem_set.all %}
                <tr>
                    <td><img style="width: 60px;" src="{{product.product.imageURL}}" alt=""></td>
                    <td>{{product.product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td></td>
                    <td><button class="btn btn-outline-dark get-return-info" data-product={{product.product.id}} data-order={{order.id}} onclick="window.location.href='{% url 'return_request' %}'"
                    >İade Et</button></td>
                </tr>
                {% endfor %}

            </table>

        </div>
        <br>
        {% endfor %}

        <button onclick="displayCars()">sort</button>

        <p id="demo"></p>

        <select id="returnOrders"></select>
        <br>
        <br>
        <button id="btnLoad" ></button>

    </div>

</div>

<script>
    var orders_1 = '{{orders}}'

    $('label[for="id_name"]').text('İsim : ')
    $('label[for="id_surname"]').text('Soyisim : ')
    $('label[for="id_phone"]').text('Telefon : ')
    $('label[for="id_email"]').text('Email : ')
    
    /*
    $(document).ready(function() {
        var return_Orders = '{{orders}}'

        $("#btnLoad").click(function(){
            $("#returnOrders")ikrLoadfSelectCombo({
                List:return_Orders,
                DisplayText: "id",

            })
        });
    })  */

    function displayCars() {
        document.getElementById("demo").innerHTML = orders_1;
    }
</script>

{% endblock content %}