{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--------------------featured products------------->
<div class="small-container">
    <h2 class = "title">Ahşap Tasarımlar</h2>
    <div class="row-featured-product">
        {% for product in products %}
        <div class="col-4">
            <a class="update-cart" data-product={{product.id}} data-action="show" href="{% url 'productdetails' product.id %}"><img src="{{product.imageURL}}"></a>
            <h4><a href="{% url 'productdetails' product.id %}">{{product.name}}</a></h4>
            <p>{{product.price|floatformat:2}} TL</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}