{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}

<div class="container-checkout">
    <div class="row-checkout">
        <div class="col-checkout">
            <div class="box-element" id="form-wrapper">
                <form action="/checkout_2/"  method="post" class="formInformation">
                    <div class="checkout-title">
                        <p>İletişim Bilgileri</p>
                        <hr>
                    </div>
                    <input required class="form-control" type="text" name="name" placeholder="İsim.." oninvalid="this.setCustomValidity('Lütfen isminizi yazınız!')" oninput="this.setCustomValidity('')">
                    <input required class="form-control" type="text" name="surname" placeholder="Soyisim.." oninvalid="this.setCustomValidity('Lütfen soyisminizi yazınız!')" oninput="this.setCustomValidity('')">
                    <input required class="form-control" type="phone" name="phone" placeholder="Telefon.." oninvalid="this.setCustomValidity('Lütfen telefon numaranızı yazınız!')" oninput="this.setCustomValidity('')">
                    <input required class="form-control" type="email" name="email" placeholder="Email.." oninvalid="this.setCustomValidity('Lütfen email adresinizi yazınız!')" oninput="this.setCustomValidity('')">
                    <div class="checkout-title ">
                        <p style="color: black; font-weight:normal; font-size: 14px;">** Faturanız email adresinize gönderilecektir.</p>
                    </div>
                    <div class="checkout-title">
                        <br>
                        <p>Adres Girişi</p>
                        <hr>
                    </div>
                                <!----<input required class="form-control" type="text" name="city" placeholder="İl..">--->
                    <select required class="form-control"  name="city" oninvalid="this.setCustomValidity('Lütfen adres bilgilerinizi doldurunuz!')" oninput="this.setCustomValidity('')">
                        <option value="">İl Seçiniz</option>
                        <option value="İstanbul">İstanbul</option>
                        <option value="Ankara">Ankara</option>
                        <option value="İzmir">İzmir</option>
                        <option value="Adana">Adana</option>
                        <option value="Adıyaman">Adıyaman</option>
                        <option value="Afyonkarahisar">Afyonkarahisar</option>
                        <option value="Ağrı">Ağrı</option>
                        <option value="Aksaray">Aksaray</option>
                        <option value="Amasya">Amasya</option>
                        <option value="Antalya">Antalya</option>
                        <option value="Ardahan">Ardahan</option>
                        <option value="Artvin">Artvin</option>
                        <option value="Aydın">Aydın</option>
                        <option value="Balıkesir">Balıkesir</option>
                        <option value="Bartın">Bartın</option>
                        <option value="Batman">Batman</option>
                        <option value="Bayburt">Bayburt</option>
                        <option value="Bilecik">Bilecik</option>
                        <option value="Bingöl">Bingöl</option>
                        <option value="Bitlis">Bitlis</option>
                        <option value="Bolu">Bolu</option>
                        <option value="Burdur">Burdur</option>
                        <option value="Bursa">Bursa</option>
                        <option value="Çanakkale">Çanakkale</option>
                        <option value="Çankırı">Çankırı</option>
                        <option value="Çorum">Çorum</option>
                        <option value="Denizli">Denizli</option>
                        <option value="Diyarbakır">Diyarbakır</option>
                        <option value="Düzce">Düzce</option>
                        <option value="Edirne">Edirne</option>
                        <option value="Elazığ">Elazığ</option>
                        <option value="Erzincan">Erzincan</option>
                        <option value="Erzurum">Erzurum</option>
                        <option value="Eskişehir">Eskişehir</option>
                        <option value="Gaziantep">Gaziantep</option>
                        <option value="Giresun">Giresun</option>
                        <option value="Gümüşhane">Gümüşhane</option>
                        <option value="Hakkâri">Hakkâri</option>
                        <option value="Hatay">Hatay</option>
                        <option value="Iğdır">Iğdır</option>
                        <option value="Isparta">Isparta</option>
                        <option value="Kahramanmaraş">Kahramanmaraş</option>
                        <option value="Karabük">Karabük</option>
                        <option value="Karaman">Karaman</option>
                        <option value="Kars">Kars</option>
                        <option value="Kastamonu">Kastamonu</option>
                        <option value="Kayseri">Kayseri</option>
                        <option value="Kırıkkale">Kırıkkale</option>
                        <option value="Kırklareli">Kırklareli</option>
                        <option value="Kırşehir">Kırşehir</option>
                        <option value="Kilis">Kilis</option>
                        <option value="Kocaeli">Kocaeli</option>
                        <option value="Konya">Konya</option>
                        <option value="Kütahya">Kütahya</option>
                        <option value="Malatya">Malatya</option>
                        <option value="Manisa">Manisa</option>
                        <option value="Mardin">Mardin</option>
                        <option value="Mersin">Mersin</option>
                        <option value="Muğla">Muğla</option>
                        <option value="Muş">Muş</option>
                        <option value="Nevşehir">Nevşehir</option>
                        <option value="Niğde">Niğde</option>
                        <option value="Ordu">Ordu</option>
                        <option value="Osmaniye">Osmaniye</option>
                        <option value="Rize">Rize</option>
                        <option value="Sakarya">Sakarya</option>
                        <option value="Samsun">Samsun</option>
                        <option value="Siirt">Siirt</option>
                        <option value="Sinop">Sinop</option>
                        <option value="Sivas">Sivas</option>
                        <option value="Şırnak">Şırnak</option>
                        <option value="Tekirdağ">Tekirdağ</option>
                        <option value="Tokat">Tokat</option>
                        <option value="Trabzon">Trabzon</option>
                        <option value="Tunceli">Tunceli</option>
                        <option value="Şanlıurfa">Şanlıurfa</option>
                        <option value="Uşak">Uşak</option>
                        <option value="Van">Van</option>
                        <option value="Yalova">Yalova</option>
                        <option value="Yozgat">Yozgat</option>
                        <option value="Zonguldak">Zonguldak</option>
                    </select>
                    <input  required class="form-control" type="text" name="ilce" placeholder="İlçe.." oninvalid="this.setCustomValidity('Lütfen adres bilgilerinizi doldurunuz!')" oninput="this.setCustomValidity('')">
                    <textarea required class="form-control" type="text" name="address" placeholder="Adres.." oninvalid="this.setCustomValidity('Lütfen adres bilgilerinizi doldurunuz!')" oninput="this.setCustomValidity('')"></textarea>
                    
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Kaydet ve Ödemeye Geç">
                </form>
            </div>
        </div>
        <aside>
            <div class="col-checkout-summary">
                <br>
                <br>
                <div class="box-element box-grey">
                    <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Sepete Dön</a>
                    <hr>
                    <h5>Sipariş Özeti</h5>
                    <hr>
                    <section>
                        <details>
                            <summary>Sepetteki Ürünler</summary>
                                <div class="cart-row-products" >
                                    {% for item in items %}
                                    <div class="cart-row">
                                        <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                                        <div id="content-desktop" style="flex:2"><p>{{item.product.name}}</p></div>
                                        <div style="flex:1"><p>{{item.product.price}} TL</p></div>
                                        <div style="flex:1"><p>x{{item.quantity}}</p></div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </details>
                    </section>
                    <br>
                    <h3>Ürün Adedi: {{order.get_cart_items}}</h3>
                    <h3>Toplam: {{order.get_cart_total|floatformat:2}} TL</h3>
                </div>
            </div>
        </aside>
    </div>
</div>


{% endblock content %}