{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}

<div class="container-checkout-2">
    <div class="row-checkout" >
        <div class="col-checkout">
            <div class="box-element">
                <section>
                    <h1>YASAL BİLDİRİMLER</h1>
                    <details>
                        <summary>Ön Bilgilendirme Formu</summary>
                        <div class="container-sozlesme">
                            <p>1.KONU</p>
                            <p>İşbu Satış Sözleşmesi Ön Bilgi Formu’nun konusu, SATICI' nın, SİPARİŞ VEREN/ALICI' ya satışını yaptığı, aşağıda nitelikleri ve satış fiyatı belirtilen ürün/ürünlerin satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun - Mesafeli Sözleşmeler Yönetmeliği (RG:27.11.2014/29188) hükümleri gereğince tarafların hak ve yükümlülüklerini kapsamaktadır. İş bu ön bilgilendirme formunu kabul etmekle ALICI, sözleşme konusu siparişi onayladığı takdirde sipariş konusu bedeli ve varsa kargo ücreti, vergi gibi belirtilen ek ücretleri ödeme yükümlülüğü altına gireceğini ve bu konuda bilgilendirildiğini peşinen kabul eder.</p>
                            <br>
                            <p>2. SATICI BİLGİLERİ</p>
                            <p>Ünvanı : shopinza.com</p>
                            <p>Adres : Türkali Mah. Dizi Sok. No:13/5 Beşiktaş İSTANBUL</p>
                            <p>Telefon :</p>
                            <p>Faks :</p>
                            <p>Eposta :</p>
                            <br>
                            <p>3. ALICI BİLGİLERİ(Bundan sonra ALICI olarak anılacaktır.)</p>
                            <p>Teslim edilecek kişi :{{name}} {{surname}}</p>
                            <p>Teslimat Adresi : {{address}} {{ilce}}/{{city}}</p>
                            <p>Telefon : {{phone}}</p>
                            <p>Eposta/kullanıcı adı : {{email}}</p>
                            <br>
                            <p>4. SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER BİLGİLERİ</p>
                            <p>4.1 Malın / Ürün/Ürünlerin / Hizmetin temel özellikleri (türü, miktarı, marka/modeli, rengi, adedi) SATICI’ya ait internet sitesinde yer almaktadır. Ürünün temel özelliklerini kampanya süresince inceleyebilirsiniz. Kampanya tarihine kadar geçerlidir.</p>
                            <p>4.2 Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise belirtilen süre sonuna kadar geçerlidir.</p>
                            <p>4.3 Sözleşme konusu mal ya da hizmetin tüm vergiler dâhil satış fiyatı aşağıdaki tabloda gösterilmiştir.</p>
                            <br>
                            <div>
                                <table class="table table-sm">
                                    <tr>
                                        <th>Ürün Adı</th>
                                        <th>Adet</th>
                                        <th>Taksit</th>
                                        <th>Toplam Tutar</th>
                                    </tr>

                                    {% for item in items %}
                                    <tr>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td></td>
                                        <td>{{item.product.price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Genel Toplam</td>
                                        <td>{{order.get_cart_items}}</td>
                                        <td></td>
                                        <td>{{order.get_cart_total|floatformat:2}} TL</td>
                                    </tr>
                                </table>
                            </div>
                            <p>Ödeme Şekli ve Planı: Kredi Kartı</p>
                            <br>
                            <p>Ödenmiş Toplam Tutar: {{order.get_cart_total|floatformat:2}} TL</p>
                            <br>
                            <p>Teslimat Adresi: {{address}} {{ilce}}/{{city}}</p>
                            <p>Fatura Adresi: {{email}}</p>
                            <p>Sipariş Tarihi: {{date}} </p>
                            <br>
                            <p>5. GENEL HÜKÜMLER</p>

                            <p>5.1. ALICI, SATICI’ya ait internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup, bilgi sahibi olduğunu, elektronik ortamda gerekli teyidi verdiğini kabul, beyan ve taahhüt eder. ALICININ; Ön Bilgilendirmeyi elektronik ortamda teyit etmesi, mesafeli satış sözleşmesinin kurulmasından evvel, SATICI tarafından ALICI' ya verilmesi gereken adresi, siparişi verilen ürünlere ait temel özellikleri, ürünlerin vergiler dâhil fiyatını, ödeme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini kabul, beyan ve taahhüt eder. </p>
                            <br>
                            <p>5.2. Sözleşme konusu her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile ALICI' nın yerleşim yeri uzaklığına bağlı olarak internet sitesindeki ön bilgiler kısmında belirtilen süre zarfında ALICI veya ALICI’ nın gösterdiği adresteki kişi ve/veya kuruluşa teslim edilir. Bu süre içinde ürünün ALICI’ya teslim edilememesi durumunda, ALICI’nın sözleşmeyi feshetme hakkı saklıdır. </p>
                            <br>
                            <p>5.3. SATICI, sözleşme konusu ürünü eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri, kullanım kılavuzları ile teslim etmeyi, her türlü ayıptan arî olarak yasal mevzuat gereklerine sağlam, standartlara uygun bir şekilde işin gereği olan bilgi ve belgeler ile işi doğruluk ve dürüstlük esasları dâhilinde ifa etmeyi, hizmet kalitesini koruyup yükseltmeyi, işin ifası sırasında gerekli dikkat ve özeni göstermeyi, ihtiyat ve öngörü ile hareket etmeyi kabul, beyan ve taahhüt eder.</p>
                            <br>
                            <p>5.4. SATICI, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ALICI’yı bilgilendirmek ve açıkça onayını almak suretiyle eşit kalite ve fiyatta farklı bir ürün tedarik edebilir.</p>
                            <br>
                            <p>5.5. SATICI, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması halinde sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, öğrendiği tarihten itibaren 3 gün içinde yazılı olarak tüketiciye bildireceğini, 14 günlük süre içinde toplam bedeli ALICI’ya iade edeceğini kabul, beyan ve taahhüt eder.</p>
                            <br>
                            <p>5.6. ALICI, sözleşme konusu ürünün teslimatı için işbu Ön Bilgilendirme Formunu elektronik ortamda teyit edeceğini, herhangi bir nedenle sözleşme konusu ürün bedelinin ödenmemesi ve/veya banka kayıtlarında iptal edilmesi halinde, SATICI’ nın sözleşme konusu ürünü teslim yükümlülüğünün sona ereceğini kabul, beyan ve taahhüt eder.</p>
                            <br>
                            <p>5.7. ALICI, Sözleşme konusu ürünün ALICI veya ALICI’nın gösterdiği adresteki kişi ve/veya kuruluşa tesliminden sonra ALICI'ya ait kredi kartının yetkisiz kişilerce haksız kullanılması sonucunda sözleşme konusu ürün bedelinin ilgili banka veya finans kuruluşu tarafından SATICI'ya ödenmemesi halinde, ALICI Sözleşme konusu ürünü 3 gün içerisinde nakliye gideri SATICI’ya ait olacak şekilde SATICI’ya iade edeceğini kabul, beyan ve taahhüt eder.</p>
                            <br>
                            <p>5.8. SATICI, tarafların iradesi dışında gelişen, önceden öngörülemeyen ve tarafların borçlarını yerine getirmesini engelleyici ve/veya geciktirici hallerin oluşması gibi mücbir sebepler halleri nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI' ya bildireceğini kabul, beyan ve taahhüt eder. ALICI da siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesini SATICI’ dan talep etme hakkına haizdir. ALICI tarafından siparişin iptal edilmesi halinde ALICI’ nın nakit ile yaptığı ödemelerde, ürün tutarı 14 gün içinde kendisine nakden ve defaten ödenir. ALICI’ nın kredi kartı ile yaptığı ödemelerde ise, ürün tutarı, siparişin ALICI tarafından iptal edilmesinden sonra 14 gün içerisinde ilgili bankaya iade edilir. ALICI, SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasına ilişkin ortalama sürecin 2 ile 3 haftayı bulabileceğini, bu tutarın bankaya iadesinden sonra ALICI’ nın hesaplarına yansıması halinin tamamen banka işlem süreci ile ilgili olduğundan, ALICI, olası gecikmeler için SATICI’ yı sorumlu tutamayacağını kabul, beyan ve taahhüt eder.</p>
                            <br>
                            <p>6. FATURA BİLGİLERİ</p>
                            <p>Ad/Soyad/Unvan : {{name}} {{surname}}</p>
                            <p>Adres : {{address}} {{ilce}}/{{city}}</p>
                            <p>Telefon : {{phone}}</p>
                            <p>Eposta/kullanıcı adı : {{email}}</p>
                            <p>Fatura teslim : Fatura, email adresine gönderilecektir.</p>
                            <br>
                            <p>7. CAYMA HAKKI</p>
                            <p>7.1. ALICI; mal satışına ilişkin mesafeli sözleşmelerde, ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (on dört) gün içerisinde, SATICI’ya bildirmek şartıyla hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihten itibaren başlar. Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin ifasına başlanan hizmet sözleşmelerinde cayma hakkı kullanılamaz. Cayma hakkının kullanımından kaynaklanan masraflar SATICI’ ya aittir. ALICI, iş bu sözleşmeyi kabul etmekle, cayma hakkı konusunda bilgilendirildiğini peşinen kabul eder.</p>
                            <p>7.2. Cayma hakkının kullanılması için 14 (ondört) günlük süre içinde SATICI' ya iadeli taahhütlü posta, faks veya eposta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen düzenlenen "Cayma Hakkı Kullanılamayacak Ürünler" hükümleri çerçevesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde,</p>
                            <p>7.2.1 3. kişiye veya ALICI’ ya teslim edilen ürünün faturası, (İade edilmek istenen ürünün faturası kurumsal ise, geri iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır.) </p>
                            <p>7.2.2. İade formu, </p>
                            <p>7.2.3. İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir. </p>
                            <p>7.2.4. SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve ALICI’ yı borç altına sokan belgeleri ALICI’ ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.</p>
                            <p>7.2.5. ALICI’ nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa ALICI kusuru oranında SATICI’ nın zararlarını tazmin etmekle yükümlüdür. Ancak cayma hakkı süresi içinde malın veya ürünün usulüne uygun kullanılmasın sebebiyle meydana gelen değişiklik ve bozulmalardan ALICI sorumlu değildir. </p>
                            <p>7.2.6. Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir. </p>
                            <br>
                            <p>8. CAYMA HAKKI KULLANILAMAYACAK ÜRÜNLER</p>
                            <br>
                            <p>8.1. a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.</p>
                            <p>b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.</p>
                            <p>c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.</p>
                            <p>ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.</p>
                            <p>d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.</p>
                            <p>e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine, veri kaydedebilme ve veri depolama cihazlarına  ilişkin sözleşmeler.</p>
                            <p>f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.</p>
                            <p>g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmeler.</p>
                            <p>ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.</p>
                            <p>h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.</p>
                            <p>Kozmetik ve kişisel bakım ürünleri, iç giyim ürünleri, mayo, bikini, kitap, kopyalanabilir yazılım ve programlar, DVD, VCD, CD ve kasetler ile kırtasiye sarf malzemeleri (toner, kartuş, şerit vb.) iade edilebilmesi için ambalajlarının açılmamış, denenmemiş, bozulmamış ve kullanılmamış olmaları gerekir. </p>
                            <br>
                            <p>8.2. SATICI şikâyet ve itirazları konusunda başvurularını,  aşağıdaki kanunda belirtilen parasal sınırlar dâhilinde tüketicinin yerleşim yerinin bulunduğu  veya tüketici işleminin yapıldığı yerdeki  tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir. Parasal sınıra ilişkin bilgiler aşağıdadır: 
                                28/05/2014 tarihinden itibaren geçerli olmak üzere: 
                                </p>
                            <p>a) 6502 sayılı Tüketicinin Korunması Hakkında Kanun’un 68. Maddesi gereği değeri 2.000,00 (ikibin) TL’nin altında olan uyuşmazlıklarda ilçe tüketici hakem heyetlerine,</p>
                            <p>b) Değeri 3.000,00(üçbin)TL’ nin altında bulunan uyuşmazlıklarda il tüketici hakem heyetlerine,</p>
                            <p>c) Büyükşehir statüsünde bulunan illerde ise değeri 2.000,00 (ikibin) TL ile 3.000,00(üçbin)TL’  arasındaki uyuşmazlıklarda il tüketici hakem heyetlerine başvuru yapılmaktadır.</p>
                            <p>İşbu Sözleşme ticari amaçlarla yapılmaktadır. </p>
                            <br>
                            <p>SATICI: shopinza.com</p>
                            <br>
                            <p>ALICI: {{name}} {{surname}}</p>
                            <br>
                            <p>TARİH: {{date}}</p>

                        </div>
                    </details>
                    <details>
                        <summary>Mesafeli Satış Sözleşmesi</summary>
                        <div class="container-sozlesme">
                            <p>Madde 1 – Taraflar</p>
                            <br>
                            <p>1.1- SATICI</p>
                            <br>
                            <p>Unvanı:shopinza.com</p>
                            <p>Telefon:</p>
                            <p>E-mail:</p>
                            <br>
                            <p>1.2- ALICI</p>
                            <br>
                            <p>Adı/Soyadı/Unvanı: {{name}} {{surname}}</p>
                            <p>Adresi: {{address}} {{ilce}}/{{city}}</p>
                            <p>Telefon: {{phone}}</p>
                            <p>E-mail: {{email}}</p>
                            <br>
                            <p>Madde 2 – Konu</p>
                            <br>
                            <p>İşbu sözleşmenin konusu, ALICI’nın SATICI’ya ait https://www.shopinza.com alan adlı internet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeleri Uygulama Esas ve Usulleri Hakkında Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.</p>
                            <br>
                            <p>Madde 3 – Sözleşme konusu ürün</p>
                            <br>
                            <p>Tarih: {{date}} </p>

                            <div>
                                <table class="table table-sm">
                                    <tr>
                                        <th>Ürün Adı</th>
                                        <th>Adet</th>
                                        <th>Taksit</th>
                                        <th>Toplam Tutar</th>
                                    </tr>

                                    {% for item in items %}
                                    <tr>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td></td>
                                        <td>{{item.product.price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Genel Toplam</td>
                                        <td>{{order.get_cart_items}}</td>
                                        <td></td>
                                        <td>{{order.get_cart_total|floatformat:2}} TL</td>
                                    </tr>
                                </table>
                            </div>

                            <p>Ürünlerin Cinsi ve türü, Miktarı, Marka/Modeli, Rengi, Satış Bedeli yukarıda belirtildiği gibidir.</p>
                            <br>
                            <p>Ödeme Şekli: Kredi Kartı</p>
                            <p>Teslimat Adresi: {{address}} {{ilce}}/{{city}}</p>
                            <p>Teslim Edilecek Kişi: {{name}} {{surname}}</p>
                            <p>Fatura Adresi: {{email}}</p>
                            <p>Kargo Ücreti:</p>
                            <p>Ödenmiş Toplam Tutar: {{order.get_cart_total|floatformat:2}} TL</p>
                            <p></p>
                            <br>
                            <p>Madde 4 – Genel hükümler</p>
                            <br>
                            <p>4.1-ALICI, SATICI ‘ya ait https://www.shopinza.com alan adlı internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</p>
                            <br>
                            <p>4.2-Sözleşme konusu ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI’nın yerleşim yerinin uzaklığına bağlı olarak internet sitesinde ön bilgiler içinde açıklanan süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir.</p>
                            <br>
                            <p>4.3-Sözleşme konusu ürün, ALICI’dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.</p>
                            <br>
                            <p>4.4-SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</p>
                            <br>
                            <p>4.5-Sözleşme konusu ürünün teslimatı için işbu sözleşmenin imzalı nüshasının SATICI’ya ulaştırılmış olması ve bedelinin ALICI’nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün teslimi yükümlülüğünden kurtulmuş kabul edilir.</p>
                            <br>
                            <p>4.6-Ürünün tesliminden sonra ALICI’ya ait kredi kartının ALICI’nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun ürün bedelini SATICI’ya ödememesi halinde, ALICI’nın kendisine teslim edilmiş olması kaydıyla ürünün 3 gün içinde SATICI’ya gönderilmesi zorunludur. Bu takdirde nakliye giderleri ALICI’ya aittir.</p>
                            <br>
                            <p>4.7-SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI’ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI’nın siparişi iptal etmesi halinde ödediği tutar 10 gün içinde kendisine nakden ve defaten ödenir.</p>
                            <br>
                            <p>4.8-Garanti belgesi ile satılan ürünlerden olan veya olmayan ürünlerin arızalı veya bozuk olanlar, garanti şartları içinde gerekli onarımın yapılması için SATICI’ya gönderilebilir, bu takdirde kargo giderleri SATICI tarafından karşılanacaktır.</p>
                            <br>
                            <p>Madde 5 – Cayma hakkı</p>
                            <br>
                            <p>ALICI, sözleşme konusu ürününün kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden itibaren 7 gün içinde cayma hakkına sahiptir. Cayma hakkının kullanılması için bu süre içinde SATICI’ya faks, e-mail veya telefon ile bildirimde bulunulması ve ürünün 6. madde hükümleri çerçevesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde, 3. kişiye veya ALICI’ya teslim edilen ürünün SATICI’ya gönderildiğine ilişkin kargo teslim tutanağı örneği ile fatura aslının iadesi zorunludur. Bu belgelerin ulaşmasını takip eden 7 gün içinde ürün bedeli ALICI’ya iade edilir. Fatura aslı gönderilmez ise KDV ve varsa sair yasal yükümlülükler iade edilemez. Cayma hakkı nedeni ile iade edilen ürünün kargo bedeli SATICI tarafından karşılanır.</p>
                            <br>
                            <p>İade durumunda satın almış olduğunuz ürünleri Shopinza’nın anlaşmalı olduğu ............ Kargo ile anlaşmalı tarife üzerinde ücretsiz olarak firmamızın ödeyeceği şekilde gönderilebilirsiniz. ........... Kargo dışında farklı bir kargo ile gönderilen kargoların kargo ücretleri müşterilerimize aittir.</p>
                            <br>
                            <p>............ Kargo Müşteri Kodu: ................</p>
                            <br>
                            <p>Madde 6 – Cayma hakkı kullanılamayacak ürünler</p>
                            <br>
                            <p>Niteliği itibarıyla iade edilemeyecek ürünler, tek kullanımlık ürünler, kopyalanabilir yazılım ve programlar, sarf malzemeleri, hızlı bozulan veya son kullanım tarihi geçen ürünler ve hizmet için cayma hakkı kullanılamaz.</p>
                            <br>
                            <p>Madde 7 – Genel hükümler</p>
                            <br>
                            <p>7.1– 18 yaşından küçük kişiler SATICI’dan alış-veriş yapamaz.</p>
                            <br>
                            <p>7.2– Dizgi ve sistem hatalarından meydana gelen fiyat yanlışlıklarından SATICI sorumlu değildir</p>
                            <br>
                            <p>Madde 8 – Yetkili mahkeme</p>
                            <br>
                            <p>İşbu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile ALICI’nın veya SATICI’nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.</p>
                            <br>
                            <p>Siparişin gerçekleşmesi durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılır.</p>
                            <br>
                            <p>SATICI</p>
                            <br>
                            <p>shopinza.com</p>
                            <br>
                            <p>ALICI</p>
                            <br>
                            <p>{{name}} {{surname}}</p>
                        </div>
                    </details>
                    <details>
                        <summary>Kişisel Veri Aydınlatma Metni</summary>
                        <div class="container-sozlesme">
                            <p>shopinza.com olarak kişisel verilerinizin güvenliği hususuna azami hassasiyet göstermekteyiz. Kişisel verileriniz 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”)’na uygun olarak işlenmekte ve muhafaza edilmektedir. 
                            </p>
                            <br>
                            <p>1. Kişisel Verilerinizin Ne Şekilde İşlenebileceği</p>
                            <br>
                            <p>6698 sayılı KVKK uyarınca, shopinza.com ile paylaştığınız kişisel verileriniz, tamamen veya kısmen, otomatik olarak veyahut herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilerek, kaydedilerek, depolanarak, değiştirilerek, yeniden düzenlenerek, kısacası veriler üzerinde gerçekleştirilen her türlü işleme konu olarak tarafımızdan işlenebilecektir. KVKK kapsamında veriler üzerinde gerçekleştirilen her türlü işlem “kişisel verilerin işlenmesi” olarak kabul edilmektedir.</p>
                            <br>
                            <p>2. Kişisel Verilerinizin İşlenme Amaçları Ve Hukuki Sebepleri</p>
                            <br>
                            <p>Paylaştığınız kişisel veriler,</p>
                            <br>
                            <p>Müşterilerimize verdiğimiz hizmetlerin gereklerini, sözleşmenin ve teknolojinin gereklerine uygun şekilde yapabilmek, sunulan ürün ve hizmetlerimizi geliştirebilmek için;</p>
                            <br>
                            <p>Kamu güvenliğine ilişkin hususlarda ve hukuki uyuşmazlıklarda, talep halinde ve mevzuat gereği savcılıklara, mahkemelere ve ilgili kamu görevlilerine bilgi verebilmek için;</p>
                            <br>
                            <p>Üyelerimize geniş kapsamda çeşitli imkânlar sunabilmek veya bu imkânları sunabilecek kişi veya kurumlarla yasal çerçevede paylaşabilmek için;</p>
                            <br>
                            <p>Reklam tercihlerini analiz etmek için,</p>
                            <br>
                            <p>6698 sayılı KVKK ve ilgili ikincil düzenlemelere uygun olarak işlenecektir.</p>
                            <br>
                            <p>3. Kişisel Verilerinizin Aktarılabileceği Üçüncü Kişi Veya Kuruluşlar Hakkında Bilgilendirme</p>
                            <br>
                            <p>Yukarıda belirtilen amaçlarla, shopinza.com ile paylaştığınız kişisel verilerinizin aktarılabileceği kişi / kuruluşlar; tedarikçiler, kargo şirketleri gibi sunulan hizmetler ile ilgili kişi ve kuruluşlar, faaliyetlerimizi yürütmek üzere ve/veya Veri İşleyen sıfatı ile hizmet alınan, iş birliği yaptığımız program ortağı kuruluşları, yurtiçi / yurtdışı kuruluşlar ve diğer 3. kişilerdir.</p>
                            <br>
                            <p>4. Kişisel Verilerinizin Toplanma Şekli</p>
                            <br>
                            <p>Kişisel verileriniz,</p>
                            <br>
                            <p>shopinza.com internet sitesi ve mobil uygulamalarındaki formlar ile ad, soyad, adres, telefon, iş veya özel e-posta adresi gibi bilgiler ile; kullanıcı adı ve şifresi kullanılarak giriş yapılan sayfalardaki tercihleri, gerçekleştirilen işlemlerin IP kayıtları, tarayıcı tarafından toplanan çerez verileri ile gezinme süre ve detaylarını içeren veriler, konum verileri şeklinde;</p>
                            <br>
                            <p>Satış ve pazarlama departmanı çalışanlarımız, şubelerimiz, tedarikçilerimiz, diğer satış kanalları, kağıt üzerindeki formlar, kartvizitler, dijital pazarlama ve çağrı merkezi gibi kanallarımız aracılığıyla sözlü, yazılı veya elektronik ortamdan;</p>
                            <br>
                            <p>shopinza.com ile ticari ilişki kurmak, iş başvurusu yapmak, teklif vermek gibi amaçlarla, kartvizit, özgeçmiş (cv), teklif vermek ve sair yollarla kişisel verilerini paylaşan kişilerden alınan, fiziki veya sanal bir ortamda, yüz yüze ya da mesafeli, sözlü veya yazılı ya da elektronik ortamdan;</p>
                            <br>
                            <p>Ayrıca farklı kanallardan dolaylı yoldan elde edilen, web sitesi, blog, yarışma, anket, oyun, kampanya ve benzeri amaçlı kullanılan (mikro) web sitelerinden ve sosyal medyadan elde edilen veriler, e-bülten okuma veya tıklama hareketleri, kamuya açık veri tabanlarının sunduğu veriler, sosyal medya platformları (Facebook, Twitter, Google, Instagram, Snapchat vs) gibi sosyal paylaşım sitelerinden paylaşıma açık profil ve verilerden; işlenebilmekte ve toplanabilmektedir.</p>
                            <br>
                            <p>5. KVKK Yürürlüğe Girmeden Önce Elde Edilen Kişisel Verileriniz</p>
                            <br>
                            <p>shopinza.com, KVKK’nun yürürlük tarihi olan 7 Nisan 2016 tarihinden önce yayım hayatına başlamadığı için bu tarihten önce depoladığımız bir kişisel veri bulunmamaktadır.</p>
                            <br>
                            <p>6. Kişisel Verilerinizin Aktarılması</p>
                            <br>
                            <p>Türkiye’de işlenerek veya Türkiye dışında işlenip muhafaza edilmek üzere, yukarıda sayılan yöntemlerden herhangi birisi ile toplanmış kişisel verileriniz KVKK kapsamında kalmak kaydıyla ve sözleşme amaçlarına uygun olarak yurtdışında bulunan (Kişisel Veriler Kurulu tarafından akredite edilen ve kişisel verilerin korunması hususunda yeterli korumanın bulunduğu ülkelere) hizmet aracılarına da aktarılabilecektir.</p>
                            <br>
                            <p>7. Kişisel Verilerin Saklanması Ve Korunması</p>
                            <br>
                            <p>shopinza.com , kişisel verilerinizin barındığı sistemleri ve veri tabanlarını, KVKK’nun 12. Maddesi gereği kişisel verilerin hukuka aykırı olarak işlenmesini önlemekle, yetkisiz kişilerin erişimlerini engellemekle; muhafazalarını sağlamak amacıyla hash, şifreleme, işlem kaydı, erişim yönetimi gibi yazılımsal tedbirleri ve fiziksel güvenlik önlemleri almakla mükelleftir. Kişisel verilerin yasal olmayan yollarla başkaları tarafından elde edilmesinin öğrenilmesi halinde durum derhal, yasal düzenlemeye uygun ve yazılı olarak Kişisel Verileri Koruma Kurulu’na bildirilecektir.</p>
                            <br>
                            <p>8. Kişisel Verilerin Güncel Ve Doğru Tutulması</p>
                            <br>
                            <p>KVKK’nun 4. maddesi uyarınca shopinza.com’un kişisel verilerinizi doğru ve güncel olarak tutma yükümlülüğü bulunmaktadır. Bu kapsamda shopinza.com’un yürürlükteki mevzuattan doğan yükümlülüklerini yerine getirebilmesi için üyelerimizin doğru ve güncel verilerini paylaşması veya web sitesi / mobil uygulama üzerinden güncellemesi gerekmektedir.</p>
                            <br>
                            <p>9. 6698 Sayılı Kvkk Uyarınca Kişisel Veri Sahibinin Hakları</p>
                            <br>
                            <p>6698 sayılı KVKK 11.maddesi 07 Ekim 2016 tarihinde yürürlüğe girmiş olup ilgili madde gereğince, Kişisel Veri Sahibi’nin bu tarihten sonraki hakları aşağıdaki gibidir:</p>
                            <br>
                            <p>Kişisel Veri Sahibi, shopinza.com’a (veri sorumlusu) başvurarak kendisiyle ilgili;</p>
                            <br>
                            <p>Kişisel veri işlenip işlenmediğini öğrenme,</p>
                            <p>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</p>
                            <p>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</p>
                            <p>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</p>
                            <p>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</p>
                            <p>KVKK’nun 7. maddesinde öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,</p>
                            <p>Kişisel verilerin düzeltilmesi, silinmesi, yok edilmesi halinde bu işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere de bildirilmesini isteme,</p>
                            <p>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</p>
                            <p>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.</p>
                        </div>
                    </details>
                </section>
                
            </div>
        </div>
        <aside>
            <div class="col-checkout-summary">
                <div class="box-element box-grey">
                    <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Sepete Dön</a>
                    <hr>
                    <h5>Sipariş Özeti</h5>
                    <hr>
                    <section>
                        <details>
                            <summary>Sepetteki Ürünler</summary>
                                <div class="cart-row-products" >
                                    {% for item in items %}
                                    <div class="cart-row">
                                        <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                                        <div id="content-desktop" style="flex:2"><p>{{item.product.name}}</p></div>
                                        <div style="flex:1"><p>{{item.product.price}} TL</p></div>
                                        <div style="flex:1"><p>x{{item.quantity}}</p></div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </details>
                    </section>
                    <br>
                    <h3>Ürün Adedi: {{order.get_cart_items}}</h3>
                    <h3>Toplam: {{order.get_cart_total|floatformat:2}} TL</h3>
                    <div id="wrapper" class="wrapper-checkbox">
                        <input type="checkbox" id="check" onclick="EnableDisableButton()">
                        <label for="check">Ön bilgilendirme formunu ve mesafeli satış sözleşmesini kabul ediyorum.</label>
                    </div>
                    <div id="wrapper2" class="wrapper-checkbox">
                        <input type="checkbox" id="check2" onclick="EnableDisableButton()">
                        <label for="check2">Kişisel verilerin işlenmesine ilişkin aydınlatma metnini okudum.</label>
                    </div>
                    <p id="check-filter" style="display:none; color: red;">Lütfen sözleşmeleri onaylayın.</p>
                </div>
                <div id="payment-info">
                    <div id="clickable"></div>
                    <button class="btn btn-success btn-block" id="make-payment" disabled = "disabled">Ödeme Yap</button>
                </div>
            </div>
            <br>
            <div class="col-checkout-summary">
                <div class="box-element box-grey">
                    <div class="edit">
                        <h5>Teslimat Adresi</h5>
                        <input type="button"onclick="history.back()" value="düzenle">
                    </div>
                    <hr>
                    <p>{{name}} {{surname}}</p>
                    <br>
                    <p>{{address}}</p>
                    <p>{{ilce}} / {{city}}</p>
                </div>
            </div>
            <br>
            <div class="col-checkout-summary">
                <div class="box-element box-grey">
                    <div class="edit">
                        <h5>Fatura Adresi</h5>
                        <input type="button"onclick="history.back()" value="düzenle">
                    </div>
                    <hr>
                    <p>** Faturanız email adresinize gönderilecektir.</p>
                    <br>
                    <p>{{email}}</p>
                </div>
            </div>
        </aside>
    </div>
</div>

<script type="text/javascript">

    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    var makePayment = document.getElementById('make-payment')

    var checkFilter = document.getElementById("check-filter")

    var clickable = document.getElementById('clickable')

    var wrapper = document.getElementById('wrapper')

    var wrapper2 = document.getElementById('wrapper2')

    clickable.addEventListener('click', function(e){
        if(makePayment.disabled){
            checkFilter.style.display = "block";
            wrapper.style.border = "1px solid red";
            wrapper2.style.border = "1px solid red";
            
        }
        else {
            checkFilter.style.display = "none";
        }
    })

    makePayment.addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'surname': null,
            'phone': null,
            'email':null,
            'total':total,
        }

        var shippingInfo = {
            'city': null,
            'ilce': null,
            'address': null,
        }

        if(shipping != 'False'){
            shippingInfo.city = '{{city}}'
            shippingInfo.ilce = '{{ilce}}'
            shippingInfo.address = '{{address}}'
        }

        if(user == 'AnonymousUser'){
            userFormData.name = '{{name}}'
            userFormData.surname = '{{surname}}'
            userFormData.phone = '{{phone}}'
            userFormData.email = '{{email}}'
        }

        var url = "/process_order/"
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken' :csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Ödeme tamamlandı!');

        cart = {}

        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        
            window.location.href = "{% url 'order_success' %}"
        })
    }

    function EnableDisableButton(){
        if(check.checked && check2.checked){
            makePayment.disabled = false
            clickable.style.width = "0px";
            clickable.style.height = "0px";
            makePayment.focus();
        }
        else{
            makePayment.disabled = true
        }
    }
</script> 
{% endblock content %}