{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container-homepage container-homepage-fluid">
    <!------first slider -->
    <div class="container-fluid p-0">
        <div class="site-slider">
            <div class="slider-one">
                <div>
                    <a href="{% url 'banner_1' %}"><img src="{{slider1.imageURL}}" class="img-fluid" alt="Banner-1"></a>
                    <div class="header-content position-absolute slide-content">
                        <h1 class="mb-4">Ahşap <span class="d-block">Tasarımlar</span></h1>
                        <p>{{slider1.description}}</p>
                        <a class="btn btn-primary btn-lg w-max mt-2" href="{% url 'banner_1' %}" tabindex="0">ALIŞVERİŞE BAŞLA</a>
                    </div>
                    <div class="second-header-content">
                        <h1 class="mb-4">Ahşap <span class="d-block">Tasarımlar</span></h1>
                        <p>{{slider1.description}}</p>
                        <a class="btn btn-primary btn-lg w-max mt-2" href="{% url 'banner_1' %}" tabindex="0">ALIŞVERİŞE BAŞLA</a>
                    </div>

                </div>
                <div>
                    <a href="{% url 'banner_2' %}"><img src="{{slider2.imageURL}}" class="img-fluid" alt="Banner-2"></a>
                    <div class="header-content position-absolute slide-content">
                        <h1 class="mb-4">Seramik <span class="d-block">Tasarımlar</span></h1>
                        <p>{{slider2.description}}</p>
                        <a class="btn btn-primary btn-lg w-max mt-2" href="{% url 'banner_2' %}" tabindex="0">HEMEN İNCELE</a>
                    </div>
                    <div class="second-header-content">
                        <h1 class="mb-4">Seramik <span class="d-block">Tasarımlar</span></h1>
                        <p>{{slider2.description}}</p>
                        <a class="btn btn-primary btn-lg w-max mt-2" href="{% url 'banner_2' %}" tabindex="0">HEMEN İNCELE</a>
                    </div>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-left"><i class="fas fa-chevron-left"></i></span>
                <span class="next position-right"><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
    </div>

<!-------/first slider-->

</div>


<!--------------------featured products------------->
<div class="small-container">
    <h2 class = "title">Öne Çıkan Ürünler</h2>
    <div class="row-featured-product">
        {% for product in products %}
        <div class="col-4">
            <a class="update-cart" data-product={{product.id}} data-action="show" href="{% url 'productdetails' product.id %}"><img src="{{product.imageURL}}"></a>
            <h4><a href="{% url 'productdetails' product.id %}">{{product.name}}</a></h4>
            <p>{{product.price|floatformat:2}} TL</p>
        </div>
        {% endfor %}
    </div>
</div>

<!----meet shopinza-->

<div class="meet">
    <div class="medium-container">
        <div class="row-meet">
            <div class="col2">
                <img src="{{meet1.imageURL}}" class="meet-img">
            </div>
            <div class="col2">
                <h1>Doğa'yı Hisset!</h1>
                <p>{{meet1.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="meet meet-second">
    <div class="medium-container">
        <div class="row-meet">
            <div class="col2">
                <p>{{meet2.description}}</p>
            </div>
            <div class="col2">
                <img src="{{meet2.imageURL}}" class="meet-img">
            </div>
        </div>
    </div>
</div>

<div class="meet meet-second-phone">
    <div class="medium-container">
        <div class="row-meet">
            <div class="col2">
                <img src="{{meet2.imageURL}}" class="meet-img">
            </div>
            <div class="col2">
                <p>{{meet2.description}}</p>
            </div>
        </div>
    </div>
</div>

<!--------banner-->
<div class="banner_4 container-fluid p-0">
    <div>
        <a href="{% url 'banner_4' %}"><img src="{{slider3.imageURL}}" class="img-fluid" alt="Banner-4"></a>
    </div>

</div>




{% endblock content %}