{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="small-container sartlar">
    
    <h1>Kişisel Veriler Politikası</h1>
    <hr>
    <br>
    <p>shopinza.com olarak kişisel verilerinizin güvenliği hususuna azami hassasiyet göstermekteyiz. Kişisel verileriniz 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”)’na uygun olarak işlenmekte ve muhafaza edilmektedir. 
    </p>
    <br>
    <p>1. Kişisel Verilerinizin Ne Şekilde İşlenebileceği</p>
    <br>
    <p>6698 sayılı KVKK uyarınca, shopinza.com ile paylaştığınız kişisel verileriniz, tamamen veya kısmen, otomatik olarak veyahut herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilerek, kaydedilerek, depolanarak, değiştirilerek, yeniden düzenlenerek, kısacası veriler üzerinde gerçekleştirilen her türlü işleme konu olarak tarafımızdan işlenebilecektir. KVKK kapsamında veriler üzerinde gerçekleştirilen her türlü işlem “kişisel verilerin işlenmesi” olarak kabul edilmektedir.</p>
    <br>
    <p>2. Kişisel Verilerinizin İşlenme Amaçları Ve Hukuki Sebepleri</p>
    <br>
    <p>Paylaştığınız kişisel veriler,</p>
    <br>
    <p>Müşterilerimize verdiğimiz hizmetlerin gereklerini, sözleşmenin ve teknolojinin gereklerine uygun şekilde yapabilmek, sunulan ürün ve hizmetlerimizi geliştirebilmek için;</p>
    <br>
    <p>Kamu güvenliğine ilişkin hususlarda ve hukuki uyuşmazlıklarda, talep halinde ve mevzuat gereği savcılıklara, mahkemelere ve ilgili kamu görevlilerine bilgi verebilmek için;</p>
    <br>
    <p>Üyelerimize geniş kapsamda çeşitli imkânlar sunabilmek veya bu imkânları sunabilecek kişi veya kurumlarla yasal çerçevede paylaşabilmek için;</p>
    <br>
    <p>Reklam tercihlerini analiz etmek için,</p>
    <br>
    <p>6698 sayılı KVKK ve ilgili ikincil düzenlemelere uygun olarak işlenecektir.</p>
    <br>
    <p>3. Kişisel Verilerinizin Aktarılabileceği Üçüncü Kişi Veya Kuruluşlar Hakkında Bilgilendirme</p>
    <br>
    <p>Yukarıda belirtilen amaçlarla, shopinza.com ile paylaştığınız kişisel verilerinizin aktarılabileceği kişi / kuruluşlar; tedarikçiler, kargo şirketleri gibi sunulan hizmetler ile ilgili kişi ve kuruluşlar, faaliyetlerimizi yürütmek üzere ve/veya Veri İşleyen sıfatı ile hizmet alınan, iş birliği yaptığımız program ortağı kuruluşları, yurtiçi / yurtdışı kuruluşlar ve diğer 3. kişilerdir.</p>
    <br>
    <p>4. Kişisel Verilerinizin Toplanma Şekli</p>
    <br>
    <p>Kişisel verileriniz,</p>
    <br>
    <p>shopinza.com internet sitesi ve mobil uygulamalarındaki formlar ile ad, soyad, adres, telefon, iş veya özel e-posta adresi gibi bilgiler ile; kullanıcı adı ve şifresi kullanılarak giriş yapılan sayfalardaki tercihleri, gerçekleştirilen işlemlerin IP kayıtları, tarayıcı tarafından toplanan çerez verileri ile gezinme süre ve detaylarını içeren veriler, konum verileri şeklinde;</p>
    <br>
    <p>Satış ve pazarlama departmanı çalışanlarımız, şubelerimiz, tedarikçilerimiz, diğer satış kanalları, kağıt üzerindeki formlar, kartvizitler, dijital pazarlama ve çağrı merkezi gibi kanallarımız aracılığıyla sözlü, yazılı veya elektronik ortamdan;</p>
    <br>
    <p>shopinza.com ile ticari ilişki kurmak, iş başvurusu yapmak, teklif vermek gibi amaçlarla, kartvizit, özgeçmiş (cv), teklif vermek ve sair yollarla kişisel verilerini paylaşan kişilerden alınan, fiziki veya sanal bir ortamda, yüz yüze ya da mesafeli, sözlü veya yazılı ya da elektronik ortamdan;</p>
    <br>
    <p>Ayrıca farklı kanallardan dolaylı yoldan elde edilen, web sitesi, blog, yarışma, anket, oyun, kampanya ve benzeri amaçlı kullanılan (mikro) web sitelerinden ve sosyal medyadan elde edilen veriler, e-bülten okuma veya tıklama hareketleri, kamuya açık veri tabanlarının sunduğu veriler, sosyal medya platformları (Facebook, Twitter, Google, Instagram, Snapchat vs) gibi sosyal paylaşım sitelerinden paylaşıma açık profil ve verilerden; işlenebilmekte ve toplanabilmektedir.</p>
    <br>
    <p>5. KVKK Yürürlüğe Girmeden Önce Elde Edilen Kişisel Verileriniz</p>
    <br>
    <p>shopinza.com, KVKK’nun yürürlük tarihi olan 7 Nisan 2016 tarihinden önce yayım hayatına başlamadığı için bu tarihten önce depoladığımız bir kişisel veri bulunmamaktadır.</p>
    <br>
    <p>6. Kişisel Verilerinizin Aktarılması</p>
    <br>
    <p>Türkiye’de işlenerek veya Türkiye dışında işlenip muhafaza edilmek üzere, yukarıda sayılan yöntemlerden herhangi birisi ile toplanmış kişisel verileriniz KVKK kapsamında kalmak kaydıyla ve sözleşme amaçlarına uygun olarak yurtdışında bulunan (Kişisel Veriler Kurulu tarafından akredite edilen ve kişisel verilerin korunması hususunda yeterli korumanın bulunduğu ülkelere) hizmet aracılarına da aktarılabilecektir.</p>
    <br>
    <p>7. Kişisel Verilerin Saklanması Ve Korunması</p>
    <br>
    <p>shopinza.com , kişisel verilerinizin barındığı sistemleri ve veri tabanlarını, KVKK’nun 12. Maddesi gereği kişisel verilerin hukuka aykırı olarak işlenmesini önlemekle, yetkisiz kişilerin erişimlerini engellemekle; muhafazalarını sağlamak amacıyla hash, şifreleme, işlem kaydı, erişim yönetimi gibi yazılımsal tedbirleri ve fiziksel güvenlik önlemleri almakla mükelleftir. Kişisel verilerin yasal olmayan yollarla başkaları tarafından elde edilmesinin öğrenilmesi halinde durum derhal, yasal düzenlemeye uygun ve yazılı olarak Kişisel Verileri Koruma Kurulu’na bildirilecektir.</p>
    <br>
    <p>8. Kişisel Verilerin Güncel Ve Doğru Tutulması</p>
    <br>
    <p>KVKK’nun 4. maddesi uyarınca shopinza.com’un kişisel verilerinizi doğru ve güncel olarak tutma yükümlülüğü bulunmaktadır. Bu kapsamda shopinza.com’un yürürlükteki mevzuattan doğan yükümlülüklerini yerine getirebilmesi için üyelerimizin doğru ve güncel verilerini paylaşması veya web sitesi / mobil uygulama üzerinden güncellemesi gerekmektedir.</p>
    <br>
    <p>9. 6698 Sayılı Kvkk Uyarınca Kişisel Veri Sahibinin Hakları</p>
    <br>
    <p>6698 sayılı KVKK 11.maddesi 07 Ekim 2016 tarihinde yürürlüğe girmiş olup ilgili madde gereğince, Kişisel Veri Sahibi’nin bu tarihten sonraki hakları aşağıdaki gibidir:</p>
    <br>
    <p>Kişisel Veri Sahibi, shopinza.com’a (veri sorumlusu) başvurarak kendisiyle ilgili;</p>
    <br>
    <p>Kişisel veri işlenip işlenmediğini öğrenme,</p>
    <p>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</p>
    <p>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</p>
    <p>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</p>
    <p>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</p>
    <p>KVKK’nun 7. maddesinde öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,</p>
    <p>Kişisel verilerin düzeltilmesi, silinmesi, yok edilmesi halinde bu işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere de bildirilmesini isteme,</p>
    <p>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</p>
    <p>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.</p>
    <p></p>
    <p></p>
</div>

{% endblock content %}