{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="login_page">
    <div class="row_container">
        <div class="d-flex justify-content-center row_login">
            
            <div class="col_login">
                <img src="{% static 'images/login.jpg' %}" width="100%">
            </div>

            <div class="col_login">
                
                <div class="d-flex justify-content-center form_container">

                    <div class="form_btn">
                        <span onclick="logina()">Giriş Yap</span>
                        <span onclick="registera()">Üye Ol</span>
                        <hr id="Indicator">
                    </div>

                    <form id="LoginForm" method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                                <input type="email" name="email" placeholder="Email..." class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                                <input type="password" name="password" placeholder="Şifre..." class="form-control" >
                        </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn login_btn" type="submit" value="Giriş Yap">
                            </div>

                        {% for message in messages %}
                            <p id="messages">{{message}}</p>
                        {% endfor %}

                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                Şifreni mi unuttun? <a href="{% url 'reset_password' %}" class="ml-2">Yeni Şifre Al</a>
                            </div>
                        </div>
                            
                    </form>


                    <form id="RegForm" method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{form.first_name}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{form.last_name}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                            {{form.email}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{form.password1}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{form.password2}}
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Üye Ol">
                        </div>
                        <div class="errors">
                            {{form.errors}}
                        </div>
                    </form>
                </div>

            </div>
            
        </div>
    </div>
</div>
<script>
                    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
    //We start indexing at one because CSRF_token is considered and input field 
     */

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[5].placeholder='İsim..';
    form_fields[6].placeholder='Soyisim..';
    form_fields[7].placeholder='Email..';
    form_fields[8].placeholder='Şifre...';
    form_fields[9].placeholder='Şifre tekrar...';


    for (var field in form_fields){	
        form_fields[field].className += ' form-control'
    }
</script>

<script>

    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator= document.getElementById("Indicator");
    
    function registera(){
    
    RegForm.style.transform = "translateX(0px)";
    LoginForm.style.transform = "translateX(0px)";
    Indicator.style.transform = "translateX(100px)";
    
    }
    
    function logina(){
    
    RegForm.style.transform = "translateX(300px)";
    LoginForm.style.transform = "translateX(300px)";
    Indicator.style.transform = "translateX(0px)";
    
    }
    
    </script>

{% endblock content %}