<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
        <!----nav bar -->
        <meta http-equiv="X-UA-Compatible" content="ie-edge" >
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <!-------nav bar/-->
        <title>Shopinza</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!---register page links---->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" 
            integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <!------------------->

        <!------homepage links js bootstrap  and font awesome-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <!----------->

        <!--------slick-slider-->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        
        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken');

            function getCookie(name) {
                // split cookie string and get all individual name = value pairs in an array
                var cookieArr = document.cookie.split(";");

                // loop through the array elements
                for (var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
                    /* removing whitespace at the beginning of the cookie name 
                    and compare it with the given string*/
                    if (name == cookiePair[0].trim()) {
                        // Decode the cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                // Return null if not found 
                return null;
            }
            var cart = JSON.parse(getCookie('cart'))
            if (cart == undefined){
                cart = {}
                console.log('Cart was created!')
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }

            var productlist = JSON.parse(getCookie('productlist'))
            if (productlist == undefined){
                productlist = {}
                console.log('productlist was created!')
                document.cookie = 'productlist=' + JSON.stringify(productlist) + ";domain=;path=/"
            }

            console.log('Cart:', cart)
            console.log('productlist:', productlist)

        </script>

    </head>

    <body>
        <nav class="box-element-nav">
            <div class="secure">
                <p>%100 Güvenli Alışveriş, İade Garantisi</p>
            </div>
        </nav>

        <div class="small-container logo-container">
            <div class="row-featured-product" >
                <div class="col_1">
                    <a href="{% url 'homepage' %}"><img src="{% static 'images/shopinza-logo.png' %}"></a>
                </div>
            </div>
        </div>

        <div class="container-block-content container-block-content-fluid p-0">
            {% block content %}

            {% endblock content %}
        </div>


        <!--------footer----------->
        <div class="box-element box-footer">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer_col_1">
                            <h3>KURUMSAL</h3>
                            <ul>
                                <li><a class="forfooter" href="{% url 'about' %}">Hakkımızda</a></li>
                                <li><a class="forfooter" href="{% url 'contact' %}">İletişim</a></li>
                                <li><a class="forfooter" href="">Kargo Takibi</a></li>
                            </ul>
                        </div>
                        <div class="footer_col_2">
                            <h3>ÜYELİK</h3>
                            <ul>
                                <li><a class="forfooter" href="{% url 'login' %}">Yeni Üyelik</a></li>
                                <li><a class="forfooter" href="{% url 'login' %}">Üye Girişi</a></li>
                                <li><a class="forfooter" href="{% url 'reset_password' %}">Şifremi Unuttum</a></li>
                                <li><a class="forfooter" href="{% url 'cart' %}">Sepetim</a></li>
                            </ul>
                        </div>
                        <div class="footer_col_4">
                            <h3>ALIŞVERİŞ</h3>
                            <ul>
                                <li><a class="forfooter" href="{% url 'mesafeli_satis_sozlesmesi' %}">Mesafeli Satış Sözleşmesi</a></li>
                                <li><a class="forfooter" href="{% url 'gizlilik_guvenlik' %}">Gizlilik ve Güvenlik</a></li>
                                <li><a class="forfooter" href="{% url 'iptal_iade_sartlari' %}">İptal ve İade Şartları</a></li>
                                <li><a class="forfooter" href="{% url 'kisisel_veriler_politikasi' %}">Kişisel Veriler Politikası</a></li>
                            </ul>
                        </div>
                        <div class="footer_col_5">
                            <h3>BİZİ TAKİP EDİN</h3>
                            <ul>
                                <li><a class="forfooter" href="">Facebook</a></li>
                                <li><a class="forfooter" href="">Twitter</a></li>
                                <li><a class="forfooter" href="https://www.instagram.com/shopinzacom/">İnstagram</a></li>
                                <li><a class="forfooter" href="">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Copyright © 2020, Shopinza</p>
            </div>
        </div>

        <!---------js for bootstrap----------->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
            </script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
            </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
            </script>

        <!------------>

        <script src="https://kit.fontawesome.com/23412c6a8d.js" ></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>

    </body>

</html>