{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="small-container sartlar">
    
    <h1>Mesafeli Satış Sözleşmesi</h1>
    <hr>
    <br>
    <p>Madde 1 – Taraflar</p>
    <br>
    <p>1.1- SATICI</p>
    <br>
    <p>shopinza.com</p>
    <br>
    <p>Telefon:</p>
    <br>
    <p>E-mail:</p>
    <br>
    <p>1.2- ALICI</p>
    <br>
    <p>Adı/Soyadı/Unvanı:</p>
    <br>
    <p>Adresi:</p>
    <br>
    <p>Telefon:</p>
    <br>
    <p>E-mail:</p>
    <br>
    <p>Madde 2 – Konu</p>
    <br>
    <p>İşbu sözleşmenin konusu, ALICI’nın SATICI’ya ait https://www.shopinza.com alan adlı internet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeleri Uygulama Esas ve Usulleri Hakkında Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.</p>
    <br>
    <p>Madde 3 – Sözleşme konusu ürün</p>
    <br>
    <p>Ürünlerin Cinsi ve türü, Miktarı, Marka/Modeli, Rengi, Satış Bedeli yukarıda belirtildiği gibidir.</p>
    <br>
    <p>Ödeme Şekli:</p>
    <br>
    <p>Teslimat Adresi:</p>
    <br>
    <p>Teslim Edilecek Kişi:</p>
    <br>
    <p>Fatura Adresi:</p>
    <br>
    <p>Kargo Ücreti:</p>
    <br>
    <p>Madde 4 – Genel hükümler</p>
    <br>
    <p>4.1-ALICI, SATICI ‘ya ait https://www.shopinza.com alan adlı internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</p>
    <br>
    <p>4.2-Sözleşme konusu ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI’nın yerleşim yerinin uzaklığına bağlı olarak internet sitesinde ön bilgiler içinde açıklanan süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir.</p>
    <br>
    <p>4.3-Sözleşme konusu ürün, ALICI’dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.</p>
    <br>
    <p>4.4-SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</p>
    <br>
    <p>4.5-Sözleşme konusu ürünün teslimatı için işbu sözleşmenin imzalı nüshasının SATICI’ya ulaştırılmış olması ve bedelinin ALICI’nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün teslimi yükümlülüğünden kurtulmuş kabul edilir.</p>
    <br>
    <p>4.6-Ürünün tesliminden sonra ALICI’ya ait kredi kartının ALICI’nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun ürün bedelini SATICI’ya ödememesi halinde, ALICI’nın kendisine teslim edilmiş olması kaydıyla ürünün 3 gün içinde SATICI’ya gönderilmesi zorunludur. Bu takdirde nakliye giderleri ALICI’ya aittir.</p>
    <br>
    <p>4.7-SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI’ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI’nın siparişi iptal etmesi halinde ödediği tutar 10 gün içinde kendisine nakden ve defaten ödenir.</p>
    <br>
    <p>4.8-Garanti belgesi ile satılan ürünlerden olan veya olmayan ürünlerin arızalı veya bozuk olanlar, garanti şartları içinde gerekli onarımın yapılması için SATICI’ya gönderilebilir, bu takdirde kargo giderleri SATICI tarafından karşılanacaktır.</p>
    <br>
    <p>Madde 5 – Cayma hakkı</p>
    <br>
    <p>ALICI, sözleşme konusu ürününün kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden itibaren 7 gün içinde cayma hakkına sahiptir. Cayma hakkının kullanılması için bu süre içinde SATICI’ya faks, e-mail veya telefon ile bildirimde bulunulması ve ürünün 6. madde hükümleri çerçevesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde, 3. kişiye veya ALICI’ya teslim edilen ürünün SATICI’ya gönderildiğine ilişkin kargo teslim tutanağı örneği ile fatura aslının iadesi zorunludur. Bu belgelerin ulaşmasını takip eden 7 gün içinde ürün bedeli ALICI’ya iade edilir. Fatura aslı gönderilmez ise KDV ve varsa sair yasal yükümlülükler iade edilemez. Cayma hakkı nedeni ile iade edilen ürünün kargo bedeli SATICI tarafından karşılanır.</p>
    <br>
    <p>İade durumunda satın almış olduğunuz ürünleri Shopinza’nın anlaşmalı olduğu ............ Kargo ile anlaşmalı tarife üzerinde ücretsiz olarak firmamızın ödeyeceği şekilde gönderilebilirsiniz. ........... Kargo dışında farklı bir kargo ile gönderilen kargoların kargo ücretleri müşterilerimize aittir.</p>
    <br>
    <p>............ Kargo Müşteri Kodu: ................</p>
    <br>
    <p>Madde 6 – Cayma hakkı kullanılamayacak ürünler</p>
    <br>
    <p>Niteliği itibarıyla iade edilemeyecek ürünler, tek kullanımlık ürünler, kopyalanabilir yazılım ve programlar, sarf malzemeleri, hızlı bozulan veya son kullanım tarihi geçen ürünler ve hizmet için cayma hakkı kullanılamaz.</p>
    <br>
    <p>Madde 7 – Genel hükümler</p>
    <br>
    <p>7.1– 18 yaşından küçük kişiler SATICI’dan alış-veriş yapamaz.</p>
    <br>
    <p>7.2– Dizgi ve sistem hatalarından meydana gelen fiyat yanlışlıklarından SATICI sorumlu değildir</p>
    <br>
    <p>Madde 8 – Yetkili mahkeme</p>
    <br>
    <p>İşbu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile ALICI’nın veya SATICI’nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.</p>
    <br>
    <p>Siparişin gerçekleşmesi durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılır.</p>
    <br>
    <p>SATICI</p>
    <br>
    <p>shopinza.com</p>

</div>

{% endblock content %}