{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}

<div class="small-container order-success">
    <table class="table">
        <tr>
            <th>
                <h5 style="margin-top: 5px;">Sipariş Onayı</h5>
            </th>
            <th>
                <a style="float: right;" class="btn btn-homepage btn-outline-dark" href="{% url 'homepage' %}">&#x2190; Anasayfaya Dön</a>
            </th>
        </tr>
    </table>
    <hr>
    <h2>Siparişiniz bize ulaşmıştır.</h2>
    <br>
    <p>Faturanız email adresinize gönderilecektir. Kargo takip numaranız da mail olarak iletilecektir. Sipariş detaylarını incelemek ve kolay kargo takibi için sipariş verdiğiniz email adresi ile üye olabilirsiniz. </p>
    <br>
    <a href="{% url 'login' %}"><button class="btn btn-login btn-primary">Üye Ol</button></a>
    <br>
    <br>
    <p>Bizi seçtiğiniz için teşekkür ederiz.</p>
</div>

{% endblock content %}