{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}
<div class="small-container forgot-password">
    <h3>Yeni Şifreni Girebilirsin!</h3>
    <hr>
    <p>Kontrol edebilmemiz için, lütfen yeni şifrenizi iki kere giriniz. </p>
    <br>
    <form method="POST" action="">

        {% csrf_token %}
        {{form}}
        <input class="btn btn-dark" type="Submit" value="Onayla" name="Update Password">

    </form>
</div>
{% endblock content %}