{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}
<div class="small-container forgot-password">
    <h3>Şifre Yenileme Tamamlandı!</h3>
    <hr>
    <p>Şifreniz yenilendi. Artık yeni şifreni kullanarak giriş yapabilirsin.</p>
    <br>
    <a href="/login">Giriş Yap</a>
</div>
{% endblock content %}

