{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}
<div class="small-container forgot-password">
    <h3>Şifre Yenileme Mail'i Gönderildi!</h3>
    <hr>
    <p>Size şifrenizi nasıl yenileyeceğinize dair mail gönderdik. Mail adresinize ait hesap oluşturulmuş
        ise kısa zaman içinde mail kutunuza ulaşacaktır. </p>
    <br>
    <p>Eğer mail size ulaşmadıysa lütfen üye olduğunuz mail adresi yazdığınızdan emin olun.
        Ve lütfen spam kutunuzu da kontrol edin!</p>
</div>
{% endblock content %}