{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}
<div class="small-container forgot-password">
    <h3>Şifremi Unuttum!</h3>
    <hr>
    <p>Şifrenizi mi unuttunuz? Aşağıya üye olduğunuz mail adresinizi yazın ve size şifrenizi sıfırlamanız 
        için mail gönderelim.  </p>
    <br>

    <form method="POST" action="">

        {% csrf_token %}
        {{form}}
        <input class="btn btn-dark" type="Submit" value="Mail Gönder" name = "Send email">
    </form>
</div>
{% endblock content %}