{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div id="content-wrapper">
    <div class="row-detail">
        <div class="column-detail">

            <div id="img-container">
                <div id= "lens"></div>
                <img id=featured src="{{product.imageURL}}">
            </div>
            <div id="slide-wrapper" >
                    <img id="slideLeft" class="arrow" src="{% static 'images/arrow-left.png' %}">
                <div id="slider" >
                    <img class="thumbnail-pic" src="{{product.imageURL}}">
                    {% for image in product.image_set.all %}
                    <img class="thumbnail-pic" src="{{image.imageURL}}">
                    {% endfor %}
                </div>

                <img id="slideRight" class="arrow" src="{% static 'images/arrow-right.png' %}">

            </div>
        </div>

        <div class="column-detail" >
            <h1>{{product.name}}</h1>
            <hr>
            <h3>{{product.price}} TL</h3>
            <br>
            <button data-product={{product.id}} data-action="add"
                class="btn btn-dark btn-detail add-btn update-cart">Sepete Ekle</button>

            <h3>Ürün Bilgileri <i class="fa fa-indent"></i> </h3>
            <p>{{product.description}}</p>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    let thumbnails = document.getElementsByClassName('thumbnail-pic')

    let activeImages = document.getElementsByClassName('active')

    for  (var i=0; i< thumbnails.length; i++){

        thumbnails[i].addEventListener('mouseover', function(){
            console.log(activeImages)

            if (activeImages.length > 0){
                activeImages[0].classList.remove('active')
            }

            this.classList.add('active')
            document.getElementById('featured').src = this.src

        })

    }

    let buttonRight = document.getElementById('slideRight');
    let buttonLeft = document.getElementById('slideLeft');
    if(buttonLeft){
        buttonLeft.addEventListener('click', function(){
            document.getElementById('slider').scrollLeft -= 180
        })
    }
    if(buttonRight){
        buttonRight.addEventListener('click', function(){
            document.getElementById('slider').scrollLeft += 180
        })
    }

</script>
<script type="text/javascript" src="{% static 'js/zoom.js' %}" ></script>

{% endblock content %}