{% extends 'store/main_checkout.html' %}
{% load static %}
{% block content %}

<div class="small-container">
    <div class="col-lg-12">

        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'account' %}">&#x2190; Hesabıma Geri Dön</a>
            <br>
            <br>

            <table class="table">
                <tr>
                    <th>
                        <h5>Ürün Sayısı: <strong>{{order.get_cart_items}}</strong></h5>
                    </th>
                    <th>
                        <h5>Toplam: <strong>{{order.get_cart_total|floatformat:2}} TL</strong></h5>
                    </th>
                    <th>
                        <a style="float: right;margin: 5px;" class="btn btn-success" href="{% url 'checkout' %}">İade Talebini
                            Onayla</a>
                    </th>

                </tr>
            </table>
        </div>

        <br>

        <div class="box-element">
            <div class="cart-row cart-titles">
                <div id="content-desktop" style="flex:2" ></div>
                <div  style="flex:2" ><strong>Ürün</strong></div>
                <div style="flex:1" ><strong>Fiyat</strong></div>
                <div style="flex:1" ><strong>Adet</strong></div>
                <div style="flex:1" ><strong>Toplam</strong></div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2" ><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div id="content-desktop" style="flex:2" ><p>{{item.product.name}}</p></div>
                <div style="flex:1" ><p>{{item.product.price|floatformat:2}} TL</p></div>
                <div style="flex:1" >
                    <div class="quantity">
                        <img data-product = "{{item.product.id}}" data-action = "add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                        <p class="quantity">x{{item.quantity}}</p>
                        <img data-product = "{{item.product.id}}" data-action = "remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                    </div>
                </div>
                <div style="flex:1" ><p>{{item.get_total}} TL</p></div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>


{% endblock content %}