*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

p{
    margin-bottom: 0;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
}

.container-block-content{
    /*justify-content: center;*/
    margin-top: 2%;
    margin-bottom: 8%;
    /*margin-left: 8%;
    margin-right: 8%;*/
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

/* --------------------store page-------------*/

.box-element{
	/*box-shadow:hsl(0, 0%, 80%) 0 0 16px;*/
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    transition: transform 0.5s;
}
.thumbnail:hover{
    transform: translateY(-10px);
}
.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.hidden{
	display: none!important;
}

/*------------- cART PAGE-----------------***/
.row-image{
    width: 100px;
    padding: 10px 20px 10px 0px;
}
.cart-row-products{
    height: 150px;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    overflow-y: scroll;
}
.cart-row-products .cart-row p{
    font-size: 12px;
}
.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding: 10px 10px;
    border-bottom: 1px solid #ececec;
}
.cart-row p{
    font-size: 15px;
}

.quantity{
	display: block;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.chg-quantity{
    width: 18px;
	cursor: pointer;
	display: block;
	margin:15px 0;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}
.col-lg-12 .table{
    margin-bottom: 0;
}
.col-lg-12 .table .btn{
    background: #59756f;
    border-color: #59756f;
}
.col-lg-12 .table .btn:hover{
    background: #729c93;
    border-color: #729c93;
}
.col-lg-12 .table h5{
    font-size: 17px;
}
.col-lg-12 .table th{
    vertical-align: middle;
}
.col-lg-12 .btn-outline-dark:hover{
    background: #59756f;
}
.col-lg-12 .cart-row{
    align-items: center;
}
.cart-row strong{
    font-size: 14px;
}
.col-lg-12 .cart-titles{
    background-color:#cbd5cc ;
}



/************** CHECHOUT PAGE********/
.container-checkout{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
}

.container-checkout-2{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
}
.row-checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-checkout{
    padding: 0 20px;
    flex-basis: 60%;
}
.col-checkout form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-checkout form input{
    width: 300px;
    margin: 6px 10px;
}
.col-checkout form select{
    width: 300px;
    margin: 6px 0;
}
.col-checkout form textarea{
    margin: 6px 10px;
    height: 70px;
}
.col-checkout form .checkout-title{
    display: block;
    width: 100%;   
}
.col-checkout form .checkout-title p{
    margin-left: 10px;
    margin-top: 5px;
    color: #59756f;
    font-size: 15px;
    font-weight: 500;
}

#clickable{
    position:absolute;
    width:300px;
    height:38px;
    z-index: 9999999;
}

.col-checkout-summary{
    width: 300px;
}
.col-checkout .formInformation{
    min-width: 300px;
}

.col-checkout-summary .cart-row{
    align-items: center;
}
.col-checkout-summary .cart-row div{
    text-align: center;
}
.col-checkout-summary .box-grey{
    background-color: rgba(171, 172, 172, 0.055);
}
.col-checkout-summary .box-grey .btn-outline-dark:hover{
    background-color: #59756f ;
}
.col-checkout-summary .box-grey h3{
    font-size: 16px;
    font-weight: 500;
}
.col-checkout-summary .box-grey h5{
    font-size: 20px;
    font-weight: 500;
}
.col-checkout-summary .box-grey p{
    font-size: 14px;
}
.col-checkout-summary .box-grey .wrapper-checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    padding: 3px 5px;

}
.col-checkout-summary .box-grey .wrapper-checkbox label{
    width: 250px;
    font-size: 12px;
    margin: 0 10px;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
#payment-info button{
    background-color: #59756f;
    border-color: #59756f;
}
#payment-info button:hover{
    background: #729c93;
    border-color: #729c93
}
#form-button{
    background-color: #59756f;
    border-color: #59756f;
}
#form-button:hover{
    background: #729c93;
    border-color: #729c93
}

#content-media{
    display: none;
}
#user-info p{
    font-size: 16px;
    font-weight: 600;
    color: #59756f;
}
.form-control{
    font-size: 14px;
}
#shipping-info textarea.form-control{
    height: 7.4rem;
    resize: none;
}
textarea{
    overflow: auto;
}
.form-field{
    width:320px;
	display: inline-block;
	padding: 5px;
}
#content-media{
    display: none;
}
.container-sozlesme{
    font-size: 12px;
    padding: 5px;
    height: 200px;
    background: #fff;
   /* background: rgba(234, 235, 234, 0.5);*/
    overflow: hidden;
    overflow-y: scroll;
}
.col-checkout section h1{
    font-size: 16px;
    font-weight: 600;
    color: #59756f;
}
.col-checkout section{
    min-width: 300px;
}
.col-checkout section details[open] summary ~ *
{
    animation:open 0.3s ease-in-out;
}
@keyframes open
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.col-checkout section details summary::-webkit-details-marker
{
    display: none;
}
.col-checkout section details summary{
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    list-style: none;
    outline:0;
}
.col-checkout section details summary:after{
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 300;
    transform-origin: center;
    transition: 200ms linear;
}
.col-checkout section details[open] summary:after{
    transform:rotate(45deg);
    font-size: 2rem;
}

/* sepet ozeti */
.col-checkout-summary .edit{
    display: flex;
}
.col-checkout-summary .edit h5{
    margin: 0 0;
    font-size: 17px;
}
.col-checkout-summary .edit input{
    position: absolute;
    right: 13%;
    font-size: 12px;
}
.col-checkout-summary section details[open] summary ~ *
{
    animation:open 0.3s ease-in-out;
}
.col-checkout-summary section details summary::-webkit-details-marker
{
    display: none;
}
.col-checkout-summary section details summary{
    color: #59756f;
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    list-style: none;
    outline:0;
}
.col-checkout-summary section details summary:after{
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 300;
    transform-origin: center;
    transition: 200ms linear;
}
.col-checkout-summary section details[open] summary:after{
    transform:rotate(45deg);
    font-size: 2rem;
}







/* ------ account settings page -------*/ 

.row-account{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.row-account h3{
    font-size: 22px;
}

.card-body{
    /*box-shadow:hsl(0, 0%, 80%) 0 0 16px;*/
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: rgba(234, 235, 234, 0.3)
}
.order-information{
    display: flex-start;
    vertical-align: middle;
    padding: 5px 0px;
}
.card-body-1{
    margin: 0px 0px;
    background-color: rgba(234, 235, 234, 0.8);
    /*background-color: #cbd5cc ;*/
    padding: 0;
}
.order-information p{
    margin-left: 25px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
}
.order-info{
    display: block;
    float: left;
}
.order-info p{
    position: relative;
    top: 10px;
}
.order-info-2{
    display: block;
    position: relative;
    float: right;
}
.row-account .table td{
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
}
.row-account .table th{
    font-size: 14px;
    font-weight: 600;
}
/*.table a{
    color: #59756f;
    font-weight: 600;
    text-decoration: underline;
}*/

.form-change .btn{
    background-color: #59756f;
    border-color: #59756f;
}
.form-change .btn:hover{
    background: #729c93;
    border-color: #729c93
}
.form-change{
    font-size: 15px;
}
.form-change input{
    width: 220px;
}
.get-return-info:hover{
    background-color: #59756f;
    border-color: #59756f;
}
.get-return-info{
    font-size: 13px;
}

/* order success page */
.order-success{
    padding: 30px;
}
.order-success h5{
    font-size: 20px;
    color: #59756f ;
    font-weight: 650;
}

.order-success .btn-login{
    background-color: #59756f;
    border-color: #59756f;
}
.order-success .btn-homepage:hover{
    background-color: #59756f;
    border-color: #59756f;
}
.order-success .btn-login:hover{
    background: #729c93;
    border-color: #729c93
}

.order-success h2{
    font-size: 16px;
    font-weight: 600;
}
.order-success p{
    font-size: 14px;
}




/* --------------footer----------------*/
.footer{
    background-color: rgba(234, 235, 234, 0.5);
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.footer h3{
    color: #59756f;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 10px;
    margin: 15px 0;

}
.footer_col_1 , .footer_col_2 , .footer_col_3 , .footer_col_4 , .footer_col_5{
    min-width: 250px;
    margin-bottom: 20px;
}


.footer_col_1 , .footer_col_2, .footer_col_4, .footer_col_5{
    flex-basis: 12%;
    text-align: center;

}
ul{
    list-style-type: none;
}
.forfooter{
    color: #8a8a8a;
}
.forfooter:hover{
    text-decoration: none;
    color: black;
}
.menu_icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.box-footer{
	border-radius: 4px;
	padding: 10px;
}
.footer p{
    text-align: center;
}


/*     ----------- productdetails page ---------------*/
#content-wrapper{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row-detail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column-detail{
    flex-basis: 50%;
    min-width: 300px;
    padding: 10px 30px;
}
.column-detail img{
    max-width: 100%;
}
.column-detail h1{
    font-size: x-large;
}
.column-detail h3{
    font-size: large;
}
.column-detail p{
    font-size: 15px;
    font-weight: 400;
}


#featured{
    /*width: 500px;
    height: 600px;
    object-fit: cover;*/
    cursor: pointer;
    border: 2px solid black;
}

.thumbnail-pic{
    /*width: 100%;*/
    object-fit: cover;
    /*max-width: 180px;*/
    max-height: 80px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
}

.thumbnail-pic:hover{
    opacity: 1;
}
.active{
    opacity: 1;
}

#slide-wrapper{
    max-width: 475px;
    display: flex;
    min-height: 100px;
    align-items: center;
    margin-top: 30px;
    min-width: 280px;
}

#slider{
    max-width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.arrow:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
}
#img-container{
    z-index: 1;
    max-width: 500px;
    position: relative;
}
#lens{
    z-index: 2;
    position: absolute;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-repeat: no-repeat;
    cursor: none;
    display: none; 
}
.btn-detail{
    background-color: #59756f;
    margin-bottom: 20px;
}
.btn-detail:hover{
    background-color: #729c93;
}
.column-detail .fa{
    color: #59756f;
    margin-left: 10px;  
}

/*     login page*/  

.login_page{
    padding: 0px 0;
}
.row_container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row_login{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col_login{
    flex-basis: 50%;
    min-width: 350px;
}
.col_login img{
    max-width: 100%;
    padding: 30px 80px;
}
.form_container{
    background: #fff;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form_container span{
    font-weight: bold;
    padding: 3px 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form_btn{
    display: inline-block;
}
.form_container form{
    max-width: 300px;
    padding: 0 15px;
    position: absolute;
    top: 110px;
    transition: transform 1s;
}
.form_container form input{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.form_container form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
.form_container form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#LoginForm a{
    color:  #e29c2b ;
    font-size: 13px;
    margin-top: 2px;
    font-weight: 500;
}
#RegForm{
    left: 0;
}
.form_container form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background:#59756f;
    height: 3px;
    margin-top: 8px ;
    transform: translateX(100px);
    transition: transform 1s;  
}
.login_btn {
    width: 100%;
    background: #59756f !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    justify-content: center;
    align-items: center;
    /*background: #59756f;*/
    /*background: #cbd5cc !important;*/
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.input-group-append{
    height: 30px;
    width: 40px;
}
.input-group .form-control{
    width: 230px;
}
.errors{
    font-size: 12px;
}

/* forgot password*/

.forgot-password{
    margin-top: 80px;
    padding: 20px;
}
.forgot-password h3{
    font-size: 20px;
    color: #59756f;
}
.forgot-password form{
    font-size: 15px;
}
.forgot-password p{
    font-size: 15px;
}
.forgot-password a{
    font-size: 15px;
    color:#59756f;
    font-weight: 700;
}
.forgot-password a:hover{
    color: #729c93;
    text-decoration: none;
}
.forgot-password form .btn{
    background-color: #59756f;
    font-size: 12px;
    border-color:#59756f ;
}
.forgot-password form .btn:hover{
    background-color: #729c93;
    border-color:#729c93 ;
}

/*about us*/ 
.about-us{
    padding: 30px;
}
.about-us h1{
    font-size: 20px;
    color: #59756f;
}

.about-us p{
    font-size: 14px;
}

/* sartlar */ 
.sartlar{
    padding: 30px;
}
.sartlar h1{
    font-size: 20px;
    color: #59756f;
}
.sartlar p{
    font-size: 13px;
}













/* --------------media query for menu---------*/
@media only screen and (max-width: 910px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
    .menu_icon{
        display: block;
        cursor: pointer;
    }
}
/*---------------media query  for less than 600 screen size -----------------*/

@media only screen and (max-width: 910px){
    .row{
        text-align: center;
    }
    .col_2 , .col_3, .col_4{
        flex-basis: 100%;
    }

    .single_product .row{
        text-align: left;

    }
    .single_product .col_2{
        padding: 20px 0;

    }
    .single_product h1{
        font-size: 26px;
        line-height: 32px;

    }
    .cart_info p{
        display: none;

    }
}