*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icons{
    width: 32px;
    height: auto;
}
.box-element-nav{
    display: flex;
    align-items: center;
    min-height: 6vh;
    font-family: 'Poppins', sans-serif;
    background-color: #cbd5cc;
}
.secure{
    color: black;
    font-size: 13.5px;
    font-weight: 600;
    position: absolute;
    top: 1.5%;
    padding-left: 5%;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 1%;
    right: 10%;
    width: 20%;
}
.nav-links-user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 1%;
    right: 10%;
    width: 25%;
}
.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
}
.nav-links-user a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
}
.nav-links a:hover{
    text-decoration: none;
    color: black;
}
.nav-links-user a:hover{
    text-decoration: none;
    color: black;
}

.container-links{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.category-links{
    display: none;
}

#cart-total{
    display: flex;
    align-items: center;
    justify-content: center;
	color: black;
	background-color:#fff;
	width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
}

/* ------- new ---------*/ 

.burger{
    display: none;
    cursor: pointer;
    width: 0%;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.col_1{
    flex-basis: 100%;
    padding:20px;
    max-width: 150px;
}
.col_1 img{
    width: 100%;
}
.col_0{
    display: flex;
}
.col_0 li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
}
.col_0 a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.col_0 a:hover{
    text-decoration: none;
    color: #59756f ;
}



/* ----- homepage -------*/
.container-homepage{
    padding-left: 25px;
    padding-right: 25px;
    display: flexbox;
    flex-grow: 1;
}
.site-slider p{
    font-weight: 500;
    font-size: 18px;
}
.header-content p{
    color: #fff;
}



/* ----slider one ------*/
.site-slider{
    position: relative;
}

.position-right{
    position: absolute;
    right: calc(40% - 80px);
    bottom:7px;
}
.position-left{
    position: relative;
    left: calc(40% - 80px);
    top:-23px;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    padding: 1rem 1.5rem;
    color: #59756f;
    border-radius: 10rem;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 15px;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    color: rgba(25, 92, 84, 0.623);
}

/* slick dots  for slider one */

.right-0{
    right:0;
}
.slider-one .slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: relative;
    top:7px;
}
.slider-one .slick-dots li{
    margin: 0 0.6rem;
}
.slider-one .slick-dots button{
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    padding: 0;
    border: none;
    background-color: #59756f;
    text-indent: -99999px;
    border-radius: 100%;
}
.slider-one .slick-dots li.slick-active button{
    transform: scale(2.5);
}
.slider-one img{
    display: block;
    margin: auto;
}
.slider-one .header-content {
    top: 20%;
    margin-left: 12rem;
    max-width: 550px;
    width: 100%;
    padding: 2rem;
}

.slide-content {
    padding: 10px 20px 10px 0;
  }
  
.slider-one .slide-content h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 400;
}
.slider-one .slide-content h1 span {
    font-weight: 600;
}

.slider-one .btn-primary {
    background-color: #59756f;
    border: #111;
    border-radius: 0;
}
.slider-one .btn-primary:hover {
    background-color:#729c93;
    border: #111;
    border-radius: 0;
}
.slider-one .second-header-content{
    margin-top: 5%;
    position: relative;
    text-align: center;
    margin-bottom: 4%;
    display: none;
}
.slider-one .second-header-content h1{
    font-size: 30px;
    font-weight: 600;
}
/*  featured product*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.small-container .row-featured-product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container .row-featured-product .col-4{
    flex-basis: 25%;
    padding: 15px;
    min-width: 160px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.small-container .row-featured-product .col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 20px auto 50px;
    position: relative;
    line-height: 60px;
    color:#555 ;
    font-size: 24px;
    font-weight: 600;
}
.title::after{
    content: '';
    background: #59756f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4 h4{
    color: #555;
    font-weight: 600;
    font-size: 16px;
    margin-top: 4px;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* meet */

.meet{
    margin-top: 20px;
    padding: 15px 0;
}
.medium-container{
    max-width: 1150px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.medium-container .row-meet{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.medium-container .row-meet .col2{
    flex-basis: 50%;
    min-width: 320px;
    padding: 10px 20px;
}
.medium-container .row-meet .col2 .meet-img{
    max-width: 100%;
}
.col2 h1{
    font-size: 30px;
    line-height: 60px;
    color: #59756f;
}
.col2 p{
    font-size: 15px;
    font-weight: 425;
}
.meet-second-phone{
    display: none;
}

/* banner4*/

.banner_4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 25px;
}

@media screen and (max-width:1300px){
    .nav-links{
        width: 25%;
    }
    .nav-links-user{
        width: 30%;
    }
}

@media screen and (max-width:1110px){
    .nav-links{
        width: 30%;
    }
    .nav-links-user{
        width: 35%;
    }
}


@media screen and (max-width:930px){
    body{
        overflow-x: hidden;
    }
    #content-desktop{
        display: none;
    }
    #content-media{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 6vh;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transform: translateY(-250%);
        transition: transform 0.5s ease-in;
	    background-color:#cbd5cc;
        border-bottom: groove;
    }
    .nav-links li{
        border-top: groove;
        width: 100%;
        margin: 0;
    }
    .container-links{
        margin: 5px 15px 5px 5px;
        float: right;
    }
    .container-logout{
        margin-left: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .category-links{
        display: flex;
        margin: 10px 15px 10px 10px;
        float: right;
    }

    .nav-links-user{
        position: absolute;
        top: 6vh;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transform: translateY(-250%);
        transition: transform 0.5s ease-in;
        background-color: #cbd5cc;
        border-bottom: groove;
    }
    .nav-links-user li{
        border-top: groove;
        width: 100%;
        margin: 0;
    }
    .col_0{
        display: none;
        opacity: 0;
    }
    .container-block-content{
        transform: translateY(0);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        position: absolute;
        display: block;
        right: 15%;
    }
    
    .slider-one .header-content{
        display: none;
    }
    .slider-one .second-header-content{
        display: block;
    }
    .meet-second{
        display: none;
    }
    .meet-second-phone{
        display: block;
    }
    .container-block-content .col-checkout .col-form{
        display: block;
    }
    .container-block-content .col-checkout .col-form #content-media{
        display: block;
    }
    
}
.nav-active{
    transform: translateY(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes pageFade{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(36vh);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}